.aboutContainer {
  width: 80%;
  height: 100vh;
  color: #000;
  font-size: larger;
  margin-left: 20%;
  padding: 0px 10px;
  z-index: 1;
}
.aboutTitle {
  color: #173b6c;
  border-bottom: 2px solid #149ddd;
  /* padding-bottom: 1rem; */
  width: fit-content;
}
.aboutContent {
  margin: 3rem;
  display: flex;
  gap: 2rem;
}
.detialsContianer {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.detialsContianer ul li {
  list-style-type: disclosure-closed;
  padding: 1rem;
}
