.contentNavbarConatiner {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-right: 1px solid #ffff;
  padding: 1rem;
  font-size: 1.5rem;
  width: 20%;
  color: white;
  height: 100vh;
  background-color: black;
  justify-content: center;
}
.contentNavbarConatiner ul li {
  position: relative;
  white-space: nowrap;
  list-style-type: none;
  /* padding: 2rem; */
}
.contentNavbarConatiner ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  text-decoration: none;
  color: #ffff;
  padding: 3rem 0rem;
}
